
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body,
body > div {
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input[type="button"]
{
    border: none;
    outline: none;
}

footer {
  border-top: 1px solid #eee;
  background-color: #303030;
  padding: 60px 0 40px 0;
  font-family: Quicksand;
  font-size: 15px;
  font-weight: normal;
  line-height: 28px;
  color: gray;
  display: flex;
  justify-content: center;
  
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.footer-container {
  max-width: 1366px;
}


.footer-info-container {
  padding: 1.4rem;
}

.footer-logo-container {
  width: 100%;
  padding: 0 0 25px 0;
  display: flex;
  justify-content: center;
}

.menu-description-container > h3 {
  font-size: 1.4rem;
  margin-bottom: 0;
}

.menu-description-container > span {
  font-size: 1rem;
}

.menu-description-container > p,
.menu-description-container > span {
  max-width: 90%;
}

.menu-description-container a {
  color: #eee;
}

.contact-container {
  margin: 3rem 0;
}

.contact-container div:nth-child(2) > p,
.contact-container div:nth-child(3) > p,
.contact-container div:nth-child(4) > p {
  display: flex;
  align-items: center;
}

.contact-container div p svg {
  font-size: 25px;
  width: 20px;
  margin-right: 10px;
}

.footer-bottom {
  width: 100%;
  background-color: #54595f;
  color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-bottom-container {
  max-width: 1366px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
}

footer ul {
  padding: 0;
  line-height: inherit;
  border-bottom: 0;
  list-style: circle;
  margin-left: 20px;
}

footer ul li {  
  padding: .4rem 0;
}

footer ul li a:hover {  
  color:#f15455;
}

.page-item-actived > a {
  background-color: #fa2e2e!important;
}

.subscribe-container > h3,
.subscribe-container > form > input[type="submit"] {
  color: #fff;
}

.subscribe-container > form > input[type="submit"] {
  background-color: #f15455;
  border-radius: 0 5px 5px 0;
  padding: .8rem;
  font-weight: 600;
}

.subscribe-container > form > input[type="text"] {
  padding: .8rem 1rem;
  border-radius: 5px 0px 0px  5px;

}

.subscribe-container > form > input[type="text"],
.subscribe-container > form > input[type="submit"] {
    border: none;
    outline:none;
    font-size: 16px;
}

.other-pages > ul {
  list-style: none;
  margin: 0;
}

.other-pages > ul li a {
  display: flex;
  align-items: center;
}

.other-pages > ul li span{
  margin: .3rem .5rem;
}

.other-pages > p {
  font-size: 1.2rem;
  font-weight: 600;
}

.other-pages > a {
  margin-right: 1rem;
}

.NavAnimation-enter {
  opacity: 0;
  transform: scale(0.5);
}

.NavAnimation-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 350ms, transform 350ms;
}

.NavAnimation-exit {
  opacity: 1;
}

.NavAnimation-exit-active {
  opacity: 0;
  transform: scale(0.5);
  transition: opacity 350ms, transform 350ms;
}

.current-page {
  font-size: 1.5rem;
  vertical-align: middle;
}

.current-page {
  line-height: 1;
}

.thumb {
  height: auto;
}

.carousel.carousel-slider,
.carousel .slider-wrapper,
.carousel .slider-wrapper.axis-horizontal .slider {
  height: 100%;
}

.carousel .slide img {
    max-width: 100%;
    height: auto;
    max-height: 100%;
    width: auto!important;
    vertical-align: top;
    border: 0;
}

.testimonial-gallery .carousel .slide {
  background: none!important;
}

/* Classes Alert */

.alert-enter {
  opacity: 0;
  transform: scale(0.9);
}
.alert-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.alert-exit {
  opacity: 1;
}
.alert-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

.mapboxgl-map .atlas-map {
  min-height: 340px;
}

@media (min-width: 490px) {
    footer ul {
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
    }
}

@media (min-width: 760px) {
  .contact-container {
    margin: 0;
  }

  .footer-info-container {
    padding: 0;
  }

  .footer-info-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .footer-logo-container {
    justify-content: flex-start;
  }
}
