.listContainer,
.listContainerCards {
    min-height: 950px;
    margin-bottom: 15px;
}

.containerProperty {
    max-width: 100%;
    width: auto;
}

.containerProperty,
.listOptionContainer {
    margin-top: -40px;
}

.listOptionContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 18px;
}

.listOptionContainer {
    display: none;
}


.listOptionContainer > div:nth-child(2) {
    display: flex;
    
}

.listOptionContainer button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 15px;
    border: none;
    background: none;
    padding: 0px;
    margin-right: 2px;
}

.listOptionContainer  button:focus { outline: none; }

.content,
.propertyDetailsContainer,
.newsContainer {
    max-width: 1366px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
}

.contentReverse {
    max-width: 1270px;
    margin: 0 auto;
    display: flex;
    flex-direction: column-reverse;
    margin-top: 3rem;
}

.container > nav {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.container > nav > ul {
    max-width: 500px;
    width: 100%;
}

.listCard,
.listCardMobile {
    max-width: 480px;    
    margin-top: 1.5rem;
    background-color: #fff;
    box-shadow: 0 0 5px 2px rgb(0 0 0 / 5%);
}

.listCardMobile {
    margin-bottom: 1rem;
}

.imageCardContainer,
.imageCardContainerMobile {
    position: relative;
}

.imageCardContainer > a,
.imageCardContainerMobile > a {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: all .3s;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    opacity: 0;
}

.imageCardContainer > a:hover,
.imageCardContainerMobile > a:hover {
    background:rgb(0, 0, 0, .4);
    opacity: 1;
}

.cardInfo {
    padding: 1rem;
}

.areas span {
    margin: .4rem 0;
    font-size: .9rem;
    display: block;
}

.cardInfo > p {
    font-size: 1.2rem;
    font-weight: 600;
    display: block;
}

.cardText {
    font-size: 1.1rem;
    min-height: 95px;
    color: rgb(168, 168, 168);
    overflow: hidden;
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    
}

.cardPrice,
.cardPriceMobile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 1rem;
    font-size: 1.1rem;
    font-weight: 600;
}


.cardFeatures {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    color: darkgrey;
    font-size: 1.6rem;
    font-weight: 600;
    padding-top: .5rem;
    flex-wrap: wrap;
}

.cardFeatures h4 {
    padding: .4rem 0;
}

.cardFeatures > div {
    margin-left: .5rem;
    display: flex;
    padding: .2rem 0;
    justify-content: center;
    align-items: flex-end;
}

.cardFeatures > div:first-child {
    margin-left: 0;
}

.cardFeatures > div > span {
    font-size: 1.2rem;
    margin-left: .6rem;
    margin-top: .3rem;
    font-weight: 300;
}

.cardFeatures > div::after {
    content: '|';
    font-size: 1.5rem;
    font-weight: 100;
    margin-left: .3rem;
    margin-right: .4rem;
}

.garages::after {
    content: ''!important;
    font-size: 2rem;
    font-weight: 100;
    margin-left: 1.5rem;
}

.pagination {
    margin-top: 15px;
    margin-bottom: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.pagination > li {
    float: left;
    margin: 0 5px;
}

.pagination > li > a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    font-size: .8rem;
    max-width: 40px;
    width: 100%;
    height: 40px;
    color: #fff;
    transition: all .5s;
    outline: none;
}


.pagination > li > a > svg {
    font-size: 1rem;
}

.missingImageCard {    
    min-height: 275px;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
    width: 100%;
    height: 100%!important;
}

.propertyTitle {
    font-size: 2rem;
    line-height: 40px;
    margin-bottom: 5px;
    margin-top: 0;
    font-family: Quicksand, Arial, Helvetica, sans-serif;
}

.propertyPrice {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: block;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 36px;
    color: #1ea69a;
    padding-bottom: 20px;
}

.propertyInfoContainer,
.contactContainer  {
    margin-top: 0rem;
    background-color: #fff;
    box-shadow: 0 0 5px 2px rgb(0 0 0 / 5%);
    padding: 1rem;
}

.contactContainer {
    margin: 1rem 0
}

.propertyDescription,
.propertyFeatures {
    margin-top: 1.4rem;
}

.propertyDescription > h3,
.propertyFeatures > h3 {
    font-size: 1.3rem;
    font-weight: 500;
}

.propertyDescription > pre,
.propertyFeatures > pre {
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 1.6rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    white-space: break-spaces;

}

.suspense {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #707070;
    font-size: 1.2rem;
    height: 100%;
}

.featureList {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.featureList > li {
    padding: 0 25px;
    margin-bottom: 0;
    line-height: 52px;
}

.propertyDescription > iframe {
    width: 100%;
    max-height: 450px;
    border: none;
}

.propertyMap {
    width: 100%;
    border: none;
    min-height: 291px;
    margin-top: 1.4rem;
}

.gallery {
    width: 100%;
    padding: 2rem;
    max-height: 95vh;
    height: 100%;
}

.alice-carousel ul li {
    max-width: 941px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}

.image {    
    box-sizing: border-box;
    margin-bottom: 5px;
    font-size: 0;
    color: transparent;
    position: relative;
    min-height: 450px;
    width: 100%;
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image img {    
    max-width: 100%;
    height: auto;
}

.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.galleryButton {
    height: 50px;
    width: 150px;
    position: absolute;
    display: flex;
    justify-content: flex-end;
    top: 20px;
    right: 20px;
}

.modal {
    background-color: #222;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
}

.modalActions {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem 2rem;
    margin-top: 1rem;
}

.modalActions a svg {
    color: #eee;
}

.galleryButton li:first-child{
    margin-right: 15px;
}

.galleryButton li a {
    height: 45px;
    width: 45px;
    border-radius: 10px;
    background-color: #222;
    opacity: .8;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s;
}

.thumbs {
    max-width: 500px;
    margin: 30px auto;
    padding: 0 100px;
    position: relative;
    max-height: 102px;
}
  
.thumbs .btnPrev {
    left: 17px;
}
  
.thumbs .btnNext {
    right: 17px;
}
  
.thumbs .btnPrev, 
.thumbs .btnNext {
    position: absolute;
    top: 17px;
    font-size: 50px;
    color: #c7cdde;
    cursor: pointer;
}

.comment > textarea,
.comment > div > input {
    width: 100%;
    padding: .4rem;
    margin: .4rem 0;
}

.comment > textarea {
    resize: none;
}

.comment > div > input,
.comment > textarea {
    padding: 1rem;
}

.comment button {
    padding: 1rem;
    margin-top: 1rem;
    transition: all .3s;
    color: #eee;
    border: none;
    outline: none;
    font-size: 1.1rem;
}

.formButton {
    display: flex;
    align-items: center;
}

.formButton svg {
    margin: 1rem 0 0 1rem;
}

.emptyList {
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: #707070;
    margin-top: 100px;
}

.skeleton {
    height: 530px;    
    margin-top: 1.5rem;
    border-radius: 0!important;
}

.skeletonImage {
    height: 530px;
}

.skeletonBody {
    height: 700px;
}

.skeletonMessage {
    height: 420px;
}

.skeletonAuthor {
    height: 230px;
}

.skeletonFilter {
    height: 530px;
}

.skeletonOther {
    height: 530px;
}

.emptyProperty {
    min-height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.emptyProperty div {
    font-size: 4rem;
    color: #707070;
}

.emptyProperty h3 {
    font-size: 1rem;
    color: #707070;
}

.containerProperty > .cardPrice {
    font-size: 1.4rem;
    padding: .4rem 0;
}

.sliderGallery {
    height: 100%;
}

.listCardMobile .cardPrice {
    padding: 1.4rem 0;
}

.listCardMobile .cardFeatures {
    align-items: flex-start;
}

@media (min-width: 1024px) {
    .cardInfo > p {
        font-size: 1.15rem;
        font-weight: 600;
        display: block;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .cardInfo p, 
    .cardInfo h4 {
        margin: .4rem 0;
    }

    .listContainerCards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 15px;
    } 
}

@media (min-width: 1200px) {
    .contentReverse,
    .content {
        display: grid;
        grid-template-columns: 390px auto;
        column-gap: 35px;
    }

    .galleryButton {        
        top: 30px;
        right: 50px;
    }

    .listCardMobile {
        margin-top: 0;
    }
}

@media (min-width: 960px) and (max-width: 1200px) {

    .listCardMobile {
        margin-top: 0;
    }

    .contentReverse,
    .content {
        display: grid;
        grid-template-columns: 1fr 3fr;
        column-gap: 25px;
    }
    
}

@media (min-width: 640px) and (max-width: 960px) {
    .contentReverse,
    .content {
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 25px;
    }

    .filterList > div,
    .filterList > div select {
        font-size: .8rem;
    }

    .listCardMobile {
        margin-top: 0;
    }
    
}

@media screen and (min-width: 960px) {
    .listCard {
        display: flex;
        flex-direction: row;
        max-width: 100%;
    }

    .imageCardContainer {
        max-width: 350px;
        width: 100%;
    }

    .cardInfo {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .cardPrice {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
    }
    

    .skeleton {
        height: 280px;
        margin-top: 1.5rem;
    }

    .skeletonContainer > span > span:first-child {
        margin-top: 0;
    }

    .emptyProperty div {
        font-size: 7rem;
    }
    
    .emptyProperty h3 {
        font-size: 3rem;
    }

    .listOptionContainer {
        display: flex;
    }
}

@media screen and (min-width: 640px) {
    main > .container > div > .listCard:first-child {
        margin-top: 0;
    }

    .emptyList {
        min-height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        font-size: 1.5rem;
        font-weight: 600;
        color: #707070;
        margin-top: 250px;
    }
    
}